APP_NAME="SRHN Reportes PHP"
APP_ENV=local
APP_DEBUG=true
APP_BASE_PATH=/srhn-reportes-php/public

# Base principal del sistema
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=rhhgith
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Base nueva de RRHH usada temporalmente por Operativos y Opciones Múltiples
RRHH_DB_HOST=127.0.0.1
RRHH_DB_PORT=3306
RRHH_DB_NAME=rrhh2029
RRHH_DB_USER=root
RRHH_DB_PASS=
RRHH_DB_CHARSET=utf8mb4
